{% extends "users/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'users/signup.css' %}">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center title text-success">
              <h1>Register</h1>
            </div>
          </div>
  <form method="post" >
    {% csrf_token %}
    {% for field in form %}
	  <div class="row align-items-center mt-4">
	   <div class="col">
		   <div class="font-weight-bold text-muted">  {{ field.label_tag }}<br> </div>

      <input type="text" class="form-control"
        name="{{ field.name }}"
        id="id_{{ field.name }}" >
<!--        value="{{ field.value }}" >  -->
	  </div>
  </div>

        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
	  <button type="submit" class="btn-submit">Sign up</button>
  </form>
			</div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

